* {
    box-sizing: border-box;
    margin:0;
    padding:0;
    
}
@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: white;
    margin: 0;
    padding: 0;
    width: 1500px;
}

/* 태그 main */
main{
    position: relative;
    max-width: 800px;
    min-width: 320px;
    margin: auto;
    display: flex;
}

/* 섹션의 메인클래스 */
.main{
    display: flex;
    flex-basis: 80%;
}

.side{
    border: 1px solid red;
    flex-basis: 20%;
}

/* 메인 태그 아래의 메인클랙스 섹션 아래 2개 커뮤니티, 사이드 */
.community{
    border : 1px solid black;
    display: flex;
    flex-direction: column;
}

/* 커뮤니티 div인 2개 자식 */
.search_area{
    border: 1px solid blue;
    display: flex;
    width: 100%;
    margin: 20px auto 20px;
    justify-content: center;
}

.search_area > div:first-child{
    width: 90%;
    margin-left: 20px;
}

/* 첫번째 div의 자식 중 검색창 */
#search_bar{
    height: 30px;
    width: 90%;
    border: none;
    border-bottom: 3px solid gray;
    outline: none;
    padding-left: 10px;
}

/* --------------------------------------------------- */

/* 커뮤 아레아 */
.commu_area{
    display: flex;
    flex-direction: column;
}

.com_box{
    background-color: rgb(195, 202, 207);
    margin: 10px 0;
    border-radius: 20px;
    padding: 20px;
}

.com_box > div{
    margin: 10px 0;
}

/* 커뮤 아레아 아래 컴박스(정보묶음) */

.com_member{
    display: flex;
    justify-content: space-between;
}

.user_pic_nic{
    display: flex;
}

.user_pic_nic > a:first-child {
    margin: 0 10px;
}

.com_date{
    margin: 0 10px;
}

/* 컴박스 아래 내용 */
/* 불러올 때 subString으로 글자 길이수 잘라서 나오게 하고, 뒤에 '+' ... 붙이기 */
.com_cont {
    height: 100px;
    overflow: hidden;
}

/* 컴박스 썸네일 */
.com_thunmnail{
    height: 200px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.com_img{
    width: 100%;
}

/* 조회수 및 리플 */
.readCnt_replyCnt{
    display: flex;
}

/* 사이드바 */












