<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../resources/css/boardList.css">
    <script src="https://kit.fontawesome.com/0041fb1dcb.js" crossorigin="anonymous"></script>
    <title>semi-main</title>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    
</head>
<body>
    <main>

        <section class="main">
                        
            <div class="community">

                <div class="search_area">

                    <div>
                        <div class="fa-solid fa-magnifying-glass" style="color: black"></div>
                        <input type="text" id="search_bar" placeholder="커뮤니티 검색">
                    </div>
                    
                </div>

                <div class="commu_area">

                    <div class="com_box">

                        <div class="com_member">

                            <div class="user_pic_nic">

                                <a href="#"><i class="fa-solid fa-circle-user"></i></a>

                                <a href=""><p>다미여신</p></a>

                            </div>

                            <div class="com_date"><p>2023.03.02</p></div>

                        </div>

                        <div class="com_title">
                            <p>기대되는 신인배우 김다미</p>
                        </div>

                        <div class="com_cont">
                            <p>
                                시설에서 수많은 이들이 죽은 의문의 사고. 
                                그날 밤 홀로 탈출한 후 모든 기억을 잃고 살아온 고등학생 ‘자윤’ 앞에 
                                의문의 인물들이 등장하기 시작하고, 자신이 기억하지 못하는 과거를 
                                알고 있는 그들의 등장으로 자윤은 혼란에 
                                휩싸이게 되는데...! <br>
                                '마녀'는 이 영화의 감독인 '박훈정' 감독에게나, 영화를 제작한 
                                '워너'에게나 꽤나 중요한 작품이 아니었을까 싶다. 
                                박훈정 감독은 '신세계'(2012)의 대성공 이후 '대호'(2015)와 
                                '브이아이피'(2017)를 연달아 내놓았지만 모두 실망스러운 성적을 
                                거뒀고,  워너 역시 '밀정'(2016)의 대성공 이후 내놓은 
                                '싱글라이더'(2017)와 '브이아이피(2017)' 모두 부진했다. 
                                여러 방향에서 중요한 이정표가 될 '마녀'는, 다행히도 꽤나 만족스러운 
                                결과물을 보여준다. '마녀'는 이미 마르고 닳도록 쓰인 소재를...
                            </p>
                        </div>

                        <div class="com_thunmnail">
                            <img src="../../../resources/images/마녀.jpg" class="com_img">
                        </div>

                        <div class="readCnt_replyCnt">
                            <div>1</div>
                            <div>2</div>
                        </div>

                    </div>

                </div>    
                
            </div>
            
        </section>
        
        <div class="side">
            <div class="side-1">
        
                <div class="chart">
                    <ul>
                        <li>인기 검색어</li>
                        <li></li>
                        <li>김다미</li>
                        <li>아이언맨</li>
                        <li>박찬욱</li>
                        <li>해리포터</li>
                    </ul>
                </div>

                <div class="game">
                    <a href="#"><img src="../img/추천영화테스트.png" width="200px"></a>
                </div>
            </div>

            <div></div>

        </div>
    </main>

    <script src="../semi/semi-main copy.js"></script>

  
</body>
</html>